*{
    outline-color: transparent !important;
}
.home {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.home {
  background: rgba(0, 0, 0, 0) url("../images/pic2.jpg") no-repeat scroll center top / cover ;
  padding: 80px 0;
  position: relative;
}

.img-wrap::before,
.home::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.img-wrap::before{
	border-radius: 15px 15px 0 0;        
}
.gradient-1 {
    position: relative;
}
.gradient-1::after {
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(247, 187, 151,0.2)), color-stop(rgba(221, 94, 137, 0.3)), to(rgba(0, 0, 0, 0.99)));
  background: linear-gradient(to top, rgba(247, 187, 151,0.2), rgba(221, 94, 137, 0.3), rgba(0, 0, 0, 0.99));  
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.intro .w-100 {
	width: 100% !important;
	-webkit-filter: contrast(135%) saturate(115%);
	filter: contrast(135%) saturate(115%);
}
.home .my-self {
	max-width: 700px;
	margin: 30px auto;
	padding: 0 15px;
}
.home h1 {
	font-size: 5rem;
	font-weight: 800;
	color: #fff;
	line-height: 1.2;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.home p {
	font-weight: 300;
	font-size: 21px;
	color: rgba(255, 255, 255, 0.85);
	margin: 0 auto 50px;
	max-width: 670px;
}

.btn.main-btn:hover,
.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0);
}

.menu li a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
	border: 1px solid rgba(255, 255, 255, 0.35);
	padding: 17px 37px;
	border-radius: 8px;
	margin-bottom: 25px;
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
}

blockquote {
	border-left: 4px solid #ddd;
	margin-top: 30px;
}
.main-logo i {
	color: rgba(255, 255, 255, 0.85);
	font-size: 6rem;
	border: 1px solid rgba(255, 255, 255, 0.35);
	border-radius: 50%;
	padding: 27px;
	display: inline-block;
	margin-bottom: 30px;
}
.modal-lg {
	max-width: 930px;
}

.btn.main-btn {
	display: inline-block;
	font-weight: 300;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 1.15rem 1.5rem;
	border-radius: 10px;
	background-color: transparent;
	color: rgba(255, 255, 255, 0.8);
	min-width: 200px;
	margin-bottom: 0;
	margin-right: 0;
	letter-spacing: 1px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50% );
	transform: translate(-50%, -50% );
	font-size: 25px;
}
.btn.main-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.home .icons {
    padding-left: 0;
}
.home .icons li {
	margin: 0 3px;
}
.home .icons li i {
	font-size: 28px;
	color: #eee;
}


/* modal */
.modal {
	background: rgba(0, 0, 0,0.1);
}
.modal-dialog {
	margin-top: 50px;
	margin-bottom: 50px;
}
.modal-content {
	border: none;
	border-radius: 0;
	background-color: transparent;
}
/*
.close {
	color: #fff;
	opacity: 1;
	-webkit-box-shadow: none;
	box-shadow: none;
	bottom: -43px;
	position: relative;
	right: 15px;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
    color: #fff
}
.nav-tabs {
	border-bottom: none;
	background-color: rgba(255, 255, 255,0.2);
}
.nav-tabs .nav-link {
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 18px 28px;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
	color: #fff;
	background-color: #3dc5ad;
	border-color: transparent;
}
.nav-tabs .nav-link:hover {
    background-color: rgba(255, 255, 255,0.21);
    color: #fff;
} 
*/
.tab-content {
	background-color: #fff;
	border-radius: 15px;
}
.tab-pane img.img-fluid {
	border-radius: 15px 15px 0 0;
}

.tab-pane .pane-content {
    padding: 30px 55px 60px;
}
.tab-pane .pane-content.contact-form {
	padding: 60px 55px 30px;
}
.tab-pane p {
	font-size: 17px;
	color: #666;
	font-weight: 400;
	margin-top: 35px;
	margin-bottom: 0;
	line-height: 1.9;
}
.custom-select:active,
.custom-select:focus,
.form-control:active,
.form-control:focus{
    border-color: #1E90FF;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.contact-form .form-control {
    border-radius: 8px;
}
.contact-form .btn {
	margin: 0;
    background-color: #1E90FF;
	border-radius: 8px;
	padding: 18px 30px;
}

.img-wrap {
	position: relative;
}